*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #2c2c2c;
    color: aliceblue;
}
header{
    display: inline;
}
.analises ul{
    width: 1366px;
    margin: 0 auto;
    display: flex;
}
.link{
    width: 1366px;
    margin: 0 auto;
    display: flex;
}
